main {
	width: 800px;
	margin: 0 auto;
}

li[class^='a'] {
	font-size: 200%;
}

li[class$='a'] {
	background-color: yellow;
}

li[class*='a'] {
	color: red;
}
/* article p:first-child {
	font-size: 120%;
	font-weight: bold;
} */

a:link,
a:visited {
	color: red;
	font-weight: bold;
}

a:hover {
	color: hotpink;
}
article p:first-child::first-line {
	font-size: 120%;
	font-weight: bold;
}
.box::after {
	content: ' ➥';
}
.box1::before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	background-color: rebeccapurple;
	border: 1px solid black;
}
