/* Fonts setup */

@font-face {
	font-family: 'abril_fatfaceregular';
	src:
		url('font/abrilfatface-regular.woff2') format('woff2'),
		url('font/abrilfatface-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'courier_primeregular';
	src:
		url('font/courier_prime.woff2') format('woff2'),
		url('font/courier_prime.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* General setup */

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	min-width: 1000px;
	max-width: 1400px;
}

/* Layout */

section {
	float: left;
	width: 50%;
}

aside {
	float: left;
	width: 30%;
}

nav {
	float: left;
	width: 20%;
}

footer {
	clear: both;
}

header,
section,
aside,
nav,
footer {
	padding: 20px;
}

/* header and footer */

header,
footer {
	border-top: 5px solid #a66;
	border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

body {
	font-family: 'courier_primeregular', sans-serif;
	font-size: 10px;
	line-height: 1.5;
	letter-spacing: 1px;
	word-spacing: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'abril_fatfaceregular', sans-serif;
}

h1 {
	font-size: 2rem;
	text-align: center;
	letter-spacing: 5px;
}

h2 {
	font-size: 1.5rem;
	letter-spacing: 3px;
}

h3 {
	font-size: 1rem;
	letter-spacing: 3px;
}

section h2 + p {
	text-indent: 20px;
}

a:link {
	color: #aa6666; /* базовий */
}

a:visited {
	color: #8f5555; /* трохи темніший і більш приглушений */
}

a:hover {
	color: #cc7777; /* світліший, щоб був ефект наведення */
	text-decoration: none;
}

a:focus {
	outline: none;
	color: #aa6666;
	text-decoration: none;
}

a:active {
	outline: 2px solid red;
	color: red;
}

a[href*='http']::after {
	content: '';
	display: inline-block;

	width: 10px;
	height: 10px;
	margin-left: 5px;

	background-image: url('img/icons8-external-link-26.png');
	background-size: 10px 10px;
	background-repeat: no-repeat;
}

ul,
ol {
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-position: inside;
	padding-left: 10px;
}

nav ul {
	list-style: none;
}
